header {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(54, 52, 52, 0.5); /* Полупрозрачный фон */
    color: white;
    align-items: center;
    
    z-index: 5;
    backdrop-filter: blur(8px); /* Размытие фона */
}

.headerlogo {
    z-index: 3;
}
